.all-product-section{
    max-width: 1900px;
    padding: 0 100px;
}

.haya{
    font-size: .7rem;
    font-family: 'GilroyExtraBold';
    background-color: #383D59;
    border-radius: 20px;
    height: 30px;
    line-height: 22px;
    text-align: center;
    padding: 4px 24px;
    margin: 8px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

@media (max-width:992px){
    .all-product-section{
        padding: 0 56px;
    }
}
@media (max-width:768px){
    .all-product-section{
        padding: 0 24px;
    }
}