@font-face {
    font-family: "GilroyLight";
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "GilroyExtraBold";
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
    font-weight: bolder;
    font-style: normal;
}

html {
    scroll-behavior: auto;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

body {
    background-color: #383D59;
    overflow-x: hidden;
}
.root{
    overflow-x: hidden;
}
* {
    color: #fff;
    letter-spacing: 0px;
    scroll-behavior: auto;
}

.title {
    font-family: "GilroyExtraBold";
    font-size: 2.5rem;
    text-align: center;
    text-align-last: center;
}

.secondary-title {
    font-family: "GilroyExtraBold";
    font-size: 1.5rem;
}

p {
    font-family: "GilroyLight";
    font-size: 1rem;
}

.nav-item {
    font-family: "GilroyExtraBold";
    font-size: 1rem;
}

.bold {
    font-family: "GilroyExtraBold";
}

.primary {
    color: #383d59;
}

section {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

.cart-length{
    position: absolute;
    top: 2px;
    right: -4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    font-size: .4rem;
    text-align: center;
}

.body-gradient{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background:linear-gradient(180deg, #606580 0%, #383C59 100%);
}
@media only screen and (max-width:768px){
    .title{
        font-size: 2rem;
    }
}