.detailed-product .product-img{
    max-width: 100%;
    max-height:100%;
    width: 100%;
    /* height: 100%; */
}
.detailed-product h3{
    font-family: 'GilroyLight';
}
.detailed-product h5{
    font-family: 'GilroyExtraBold';
}

.detailed-product .product-color{
    position: relative;
    height: 56px;
    width: 56px;
    padding: 4px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
    border: 1px solid rgba(255,255,255,0);
}
.detailed-product .product-color.is-selected{
    border-color: white;
}
.detailed-product .product-color> div{
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.detailed-product .product-size{
    border-bottom: 1px solid rgba(255,255,255,0);
    cursor: pointer;
    transition: .3s all ease;
    -webkit-transition: .3s all ease;
    -moz-transition: .3s all ease;
    -ms-transition: .3s all ease;
    -o-transition: .3s all ease;
}
.detailed-product .product-size.is-selected{
    border-color: white;
}