header{
    position: fixed;
    width: 100vw;
    padding: 24px 0;
    z-index: 999;
    background-image: linear-gradient(to right, rgba(96, 101, 128, 1) 0%, rgba(59, 63, 92, 1) 100%);
    background-image: -moz-linear-gradient(to right, rgba(96, 101, 128, 1) 0%, rgba(59, 63, 92, 1) 100%);
    background-image: -webkit-linear-gradient(to right, rgba(96, 101, 128, 1) 0%, rgba(59, 63, 92, 1) 100%);
    background-image: -o-linear-gradient(to right, rgba(96, 101, 128, 1) 0%, rgba(59, 63, 92, 1) 100%);
}
header nav{
    width: 100vw;
    padding: 0 100px;
}
header .cse-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.nav-btn{
    position: relative;
    height: 32px;
    width: 32px;
    margin: 0 12px;
    cursor: pointer;
}
.nav-btn > img{
    height: 100%;
    width: 100%;
}
.burger{
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 32px;
    background-color: white;
}
.burger::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 3px;
    width: 32px;
    background-color: white;
}
.burger::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: 3px;
    width: 32px;
    background-color: white;
}

@media only screen and (max-width: 767px){
    header nav{
        padding: 0 32px;
    }
    .nav-btn{
        margin: 0 8px;
    }
}
@media only screen and (max-width: 400px){
    header nav{
        padding: 0 8px;
    }
}