.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    z-index: -1000;
    background: rgba(20, 22, 32, 0);
    transition-delay: .3s;
    transition-property: z-index;
}
.sidebar-container.isOpen{
    background: rgba(20, 22, 32, 0.52);
    z-index: 1000;
    opacity: 1;    
    transition-property: background;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    max-width: 967px;
    background: #383D59;
    box-shadow: -6px 0px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .3s all ease-in;
    -webkit-transition: .3s all ease-in;
    -moz-transition: .3s all ease-in;
    -ms-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
}

.sidebar.isOpen{
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transition: .3s all ease-in;
    -webkit-transition: .3s all ease-in;
    -moz-transition: .3s all ease-in;
    -ms-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
}

@media only screen and (max-width:768px){
    .sidebar{
        width: 100%;
    }
}